* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #f7ad5a, #85fdad);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 1.5rem;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form .todo-input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  border-radius: 5px;
}
form button {
  color: #fdf580;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #9185fd;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: linear-gradient(120deg, #ff7373, #9785fd);
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
  border-radius: 5px;
}
.todo li {
  flex: 1;
}

.complete-btn,
.trash-btn, .edit-btn {
  background-color: #c85b4d;
  color: auto;
  cursor: pointer;
  bottom: none;
  padding: 1rem;
  font-size: 1rem;
  border-radius: 5px;
}
.complete-btn {
  background-color: rgb(64, 155, 69);
}
.edit-btn{
  background-color: rgb(91, 64, 155);
}
.todo-item {
  padding: 0 0.5rem;
}
.fa-trash,
.fa-check {
  pointer-events: none;
}
.completed {
  text-decoration: line-through;
  opacity: 0.4;
}
.fall {
  transform: translate(5rem);
  opacity: 0;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
select {
  color: #fb5f4a;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 5px;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background-color: #fb5f4a;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}
.select:hover::after {
  background: white;
  color: #fb5f4a;
}
.para-footer{
  color: black;
  display: flex;
  justify-content: end;
  padding-top: 23rem;
  padding-right: 5px;
}